/* This file is for your main application css. */

/* app.css */

@tailwind base;

.my-animation {
  animation: fade 3s steps(90) forwards;
 -webkit-animation: fade 3s steps(90) forwards;
  -moz-animation: fade 3s steps(90) forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.0;
  }
}

@tailwind components;

/* Put your custom components here */

@tailwind utilities;

/* Put your custom utilities here */
